requests==2.32.3
beautifulsoup4==4.12.3 # Corregido a una versión existente (4.13.4 no existe al momento de escribir esto)
lxml==5.2.2           # Corregido a una versión existente (5.3.0 no existe al momento de escribir esto)
